body {
	background-color: lightblue;
}
h1 {
	text-align: center;
	color: darkblue;
	font-family: sans-serif;
}
#mainContainer {
	text-align: center;
}

/* SVG */
#svgchart {
	background-color: floralwhite;
}

#svgchart rect {
	stroke: black;
	stroke-width: 0.3
}
#svgchart rect.legend-rect {
	stroke-width: 0.8
}
#svgchart rect.barP {
	fill: yellow;
}
#svgchart rect.barK {
	fill: tomato;
}
#svgchart rect.barF {
	fill: blue;
}

#svgchart text.axisLabel, .smallText {
	fill: darkblue;
}

#svgchart rect.overed {
	/* fill: black; */
	opacity: 0.6;
}

#svgchart g.tick text{
	fill: red;
	font: 14px sans-serif;
	text-anchor: end;
}

#svgchart text.axisLabel {
	font-size: 18px;
}

.grid line {
	stroke: lightgrey;
	stroke-opacity: 0.7;
	shape-rendering: crispEdges;
}

/*tooltip*/
div.tooltip {
  position: absolute;
  text-align: left;
  width: 160px;
  height: 70px;
  padding: 2px;
  font: 16px sans-serif;
  background: darkcyan;
  border: 3px solid black;
  border-radius: 8px;
  pointer-events: none; /* keep the mouseover when over the tooltip */
  color: floralwhite;
}

.table-tooltip {
	border-spacing: 0;
}

.td-tooltip-key {
	text-decoration: underline;
}
.td-tooltip-value {
	font-weight: bold;
}


#svgchart .smallText {
	font-size: 10px;
}

#footer {
  color: black;
  text-align: center;
}
#footer a{
	color: blue;
}

#svgchart circle{
	fill: green;
}